---
import Layout from "../../layouts/Layout.astro";

const age = new Date().getFullYear() - new Date("2000-06-14").getFullYear();
---

<Layout title="About | Brian Colclough">
  <section
    class="max-w-5xl mx-auto mt-16 p-8 bg-black text-white rounded-lg shadow-lg"
  >
    <header class="text-center mb-16">
      <h1 class="text-6xl font-bold text-orange-500 mb-4">About Me</h1>
    </header>

    <div
      class="prose prose-xl prose-invert mx-auto text-neutral-300 leading-relaxed"
    >
      <p class="mb-8">
        Hello! I'm Brian Colclough, a {age}-year-old software engineer based in
        Charlotte, NC, currently pursuing my master’s degree in Artificial
        Intelligence at The University of Johns Hopkins. When I'm not coding or
        studying, you'll likely find me out capturing moments with my camera or
        breaking a sweat at the gym. Photography and fitness are two of my
        biggest passions.
      </p>

      <h2 class="text-3xl text-orange-400 mt-8">My Journey into Photography</h2>
      <p>
        My love for photography started in college when I saved up to buy my
        first camera. Before that, I would always snap pictures on my phone,
        driven by a natural curiosity to capture moments. As a kid, I would
        often lose look though tavel photography books at my grandmother's
        house. I think thats why sparked my curiosity in how others see the
        world.
      </p>
      <h2 class="text-3xl text-orange-400 mt-8">What Inspires Me</h2>
      <p>
        Light is everything to me. Whether it's the play of shadows or the way a
        beam of sunlight highlights a subject, light is what guides my eye.
        Ralph Gibson's work has been a major influence on my journey, inspiring
        me to see the ordinary in extraordinary ways.
      </p>

      <h2 class="text-3xl text-orange-400 mt-8">In My Free Time</h2>
      <p>
        Outside of photography, I love spending time with my family and enjoying
        the great outdoors through hiking, camping, and mountain biking. I'm
        also a huge fan of movies and traveling to places where I can immerse
        myself in nature and outdoor activities.
      </p>

      <h2 class="text-3xl text-orange-400 mt-8">My Work and Aspirations</h2>
      <p>
        I've been a front-end developer for a few years, focusing on creating
        clean, elegant designs with an eye for detail. My current pursuit of a
        master’s degree in AI is driven by a desire to deepen my engineering
        expertise and explore the potential of machine learning. One day, I hope
        to become a machine learning engineer, blending my love for technology
        and creativity.
      </p>
    </div>
  </section>
</Layout>
