---
// Example: Filter out content entries with `draft: true` only when building for production
import Layout from "../../layouts/Layout.astro";
import { Card } from "../../components/card/card.tsx";
import { contentfulClient, type BlogEntry } from "../../lib/contentful";


const entries = await contentfulClient.getEntries<BlogEntry>({
  content_type: "blogPost",
});

const posts = entries.items.map((item) => {
  const { title, datePosted, summary, slug } = item.fields;

  return {
    title,
    slug,
    summary,
    datePosted: new Date(datePosted).toLocaleDateString()
  };
});
---

<Layout title="Brian Colclough | Blog">
    <div class="posts-wrapper">
        {
            posts.map((p) => (
                <Card
                    title={p.title}
                    subTitle={p.datePosted}
                    linkTo={"/blog/" + p.slug}
                    body={p.summary}
                />
            ))
        }
    </div>
</Layout>

<style>
    .posts-container {
        display: flex;
        align-items: center;
    }

    .posts-wrapper {
        margin: 2rem 2rem 2rem;
        display: grid;
        grid-cols: 1fr;
        gap: 2rem;
    }
    
    @media (max-width: 768px) {
        .posts-wrapper {
            margin: 2rem 0 2rem; 
        }
    }
</style>
