---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import Card from "../../components/card/card.astro";
import Layout from "../../layouts/Layout.astro";
import { contentfulClient, type BlogEntryRO } from "../../lib/contentful";
import type { BlogPost } from "./types/blogPost";

const entries = await contentfulClient.getEntries<BlogEntryRO>({
  content_type: "blogPost",
});

const posts: BlogPost[] = entries.items
  .map((item) => {
    const { title, datePosted, summary, slug, content } = item.fields;

    return {
      title,
      slug,
      summary,
      content: documentToHtmlString(content),
      datePosted: new Date(datePosted).toLocaleDateString(),
      rawDate: new Date(datePosted), // Add a raw date for sorting purposes
    };
  })
  .sort((a, b) => b.rawDate.getTime() - a.rawDate.getTime()); // Sort by date in descending order
---

<Layout title="Brian Colclough | Blog">
  <!-- Hero Section -->
  <section
    class="relative w-full min-h-[400px] bg-black text-white flex items-center justify-center"
  >
    <div class="max-w-4xl text-center">
      <h1
        class="text-6xl sm:text-8xl font-fields font-extrabold text-orange-500 mb-4"
      >
        My Blog
      </h1>
      <p class="text-lg sm:text-xl font-fields italic text-gray-300">
        A collection of my thoughts, experiences, and learnings as a
        photographer, software engineer, and fitness enthusiast.
      </p>
    </div>
  </section>

  <!-- Blog Post Cards -->
  <div
    class="mt-12 px-6 grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-7xl mx-auto"
  >
    {
      posts.map((p) => (
        <Card
          title={p.title}
          subTitle={p.datePosted}
          linkTo={"/blog/" + p.slug}
          body={p.summary}
        />
      ))
    }
  </div>
</Layout>
