@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Wubberly";
  src: url("/fonts/Wubberly-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fields";
  src: url("/fonts/Fields-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard-regular.woff2") format("woff2");
  font-weight: normal;
}

@layer base {
  :root {
    --color-orange-base: #ff9d00;
  }
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

:focus-visible {
  outline: 2px dotted var(--accent-pink);
  outline-offset: 2px;
}
