.card {
  box-shadow: var(--accent-blue) 0 0 10px;
  border-radius: 5px;
  padding: 1rem;
}

.card-title {
  color: var(--accent-dark);
  font-family: "Wubberly", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.card-subtitle {
  color: var(--accent-pink);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
