---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Brian Colclough">
    <div class="home-grid">
        <div class="home-grid-item welcome-item">
            <h1 class="welcome">Hello, I'm Brian</h1>
        </div>
        <div class="home-grid-item text-item">
            <div class="text-item-wrapper">
                <h1 class="text-item-header">Who am I?</h1>
                <p>
                    Im Brian and I'm a front end software engineer. I love building things with code and I'm always
                    looking
                    for
                    new ways to learn and grow.
                </p>
            </div>
        </div>
        <div class="home-grid-item self-intro">
            <p>Here I write about my fitness journey as well as other things I'm interested in. I like to run, lift
                weights, read, and watch movies. Theres a little of something for everyone here. Welcome to my corner of
                the internet.</p>
        </div>
    </div>
    <div class="text-wall">
        <p>
            I'm a quite a <i>nerd</i> so I love customizing my little blog, this is the third iteration of my website.
            Build
            using Astro and solidJS and plain CSS.
            By day I'm working as a front end developer working almost exclusively with Angular. I like to branch out
            and
            try new things. I love all things web development, I don't post much on the topic because I feel I still
            have a lot to learn. I post a lot about my fitness journey and hopefully some of you will find my
            advice/failures useful.
        </p>
    </div>
</Layout>

<style>
    .home-grid {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        row-gap: 5rem;
        gap: 4rem;
        max-width: 80rem;
    }

    .home-grid > * {
    }

    .home-grid-item {
    }

    .text-item {
        grid-row: 1 / span 2;
        place-self: center;
    }

    .text-item-wrapper {
        padding: 1rem;
        outline: .5rem solid black;
        box-shadow: black 1rem 1rem 0 1px;
        background-color: var(--accent-green);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
        text-align: left;
        break-inside: avoid;
        border-radius: .75rem;

    }

    .text-item-header {
        font-size: 3rem;
        font-family: Wubberly, 'sans-serif';
        text-align: left;
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: .25rem;
    }

    .welcome-item {
        outline: .5rem solid black;
        box-shadow: black 1rem 1rem 0 1px;
        grid-row: 1;
        grid-column: 2;
        border-radius: .75rem;
        justify-self: right;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: var(--accent-purple);
        color: white;
    }

    .welcome {
        font-family: Fields, 'sans-serif';
        font-size: 4rem;
    }

    .self-intro {
        justify-self: end;
        outline: .5rem solid black;
        box-shadow: black 1rem 1rem 0 1px;
        border-radius: .75rem;
        padding: 1rem;
        font-size: 1.2rem;
        background-color: var(--accent-blue);
    }

    .text-wall {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
        max-width: 80rem;
        font-size: 1.1rem;
        background-color: var(--accent-forrest);
        color: white;
        padding: 1rem;
        border-radius: .75rem;
        outline: .5rem solid black;
        box-shadow: black 1rem 1rem 1rem 1px;
    }

    @media (max-width: 800px) {
        .home-grid {
            grid-auto-flow: row;
            grid-template: 1fr/ auto;
        }

        .text-item {
            margin: 0;
        }

        .welcome-item {
            grid-column: 1;
            grid-row: 1;
        }

        .text-item {
            grid-row: 2;
            place-self: center;
        }
    }


</style>
