---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brian Colclough">
    <div class="max-w-2xl h-full flex-grow w-full flex items-center">
        <div class="inline-flex gap-2 flex-col w-full items-center">
            <h1 class="text-white text-3xl">Brian Colclough</h1>
            <div class="inline-flex gap-1">
                <span>Photographer</span>
                <span>-</span>
                <span>Programmer</span>
                <span>-</span>
                <span>Fitness Enthusiest</span>
                <div></div>
            </div>
        </div>
    </div>
</Layout>
