---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Brian Colclough">
    <h1 class="welcome">Welcome</h1>
</Layout>

<style>
    .welcome{
        font-family: 'SpaceGroteskBold', sans-serif;
    }
</style>
