---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Brian Colclough">
    <div class="welcome-item">
        <div class="welcome-container">
            <div class="welcome-content">
                <div class="welcome-item-bg-1"></div>
                <div class="welcome-item-bg"></div>
                <h1 class="welcome-content-header">Hello, I'm Brian</h1>
                <p class="welcome-content-text">I'm a front-end developer from North Carolina</p>
            </div>
        </div>
    </div>
    <h1 class="who-am-i-header">Who am I?</h1>
    <div class="who-am-i">
        <p>
            Im Brian and I'm a front end software engineer. I love building things with code and I'm always
            looking
            for
            new ways to learn and grow.
        </p>
        <div class="self-intro">
            <div>
                Here I write about my fitness journey as well as other things I'm interested in. I like to run, lift
                weights, read, and watch movies. Theres a little of something for everyone here. Welcome to my corner of
                the internet.
            </div>
        </div>
    </div>
    <div class="text-wall">
        <p>
            I'm a quite a <i>nerd</i> so I love customizing my little blog, this is the third iteration of my website.
            Build
            using Astro and solidJS and plain CSS.
            By day I'm working as a front end developer working almost exclusively with Angular. I like to branch out
            and
            try new things. I love all things web development, I don't post much on the topic because I feel I still
            have a lot to learn. I post a lot about my fitness journey and hopefully some of you will find my
            advice/failures useful.
        </p>
    </div>
</Layout>

<style>
    .who-am-i {
        display: flex;
        flex-direction: row;
        width: auto;
        gap: var(--lg);
        align-items: center;
        font-size: var(--lg);
    }

    .who-am-i-header {
        font-size: var(--2xl);
        font-family: Wubberly, 'sans-serif';
        text-align: left;
        width: 100%;
        margin-bottom: var(--lg);
        text-decoration: underline var(--accent-blue) dashed;
        text-decoration-thickness: var(--xxs);
        text-underline-offset: var(--xs);
        margin-top: .25rem;
    }

    .welcome-item {
        margin-top: 2rem;
        grid-row: 1;
        grid-column: 2;
        height: 75vh;
        margin-bottom: 20vh;
    }

    .welcome-content {
        position: relative;
        z-index: 0;
    }

    .welcome-item-bg {
        position: absolute;
        top: -3rem;
        left: -3rem;
        right: -3rem;
        bottom: -4.5rem;
        background-color: black;
        rotate: 5deg;
        z-index: -1;
    }

    .welcome-item-bg-1 {
        position: absolute;
        top: -3.5rem;
        left: -3.5rem;
        right: -3.5rem;
        bottom: -5rem;
        background-color: var(--rose-k500);
        rotate: -7deg;
        z-index: -1;
    }

    .welcome-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: var(--2xl);
        color: black;
        position: relative;
    }

    .welcome-content-header {
        font-family: Fields, 'sans-serif';
        font-size: var(--3xl);
        color: white;
        padding: 0 0 var(--lg);
        margin: 0;
        z-index: 10;
    }

    .welcome-content-text {
        color: white;
        z-index: 10;
        padding: 0;
        margin: 0;
    }

    .self-intro {
        outline: .125rem solid black;
        box-shadow: black 1rem 1rem 0 1px;
        font-size: var(--lg);
        display: flex;
        align-items: center;
        padding: var(--lg);
        height: min-content;
    }

    .text-wall {
        margin-top: var(--2xl);
        max-width: 80rem;
        font-size: var(--lg);
        color: black;
        padding: var(--lg);
        outline: .125rem solid black;
        margin-bottom: var(--3xl);
    }

    .text-wall > p {
        margin: .5rem;
    }

    @media (max-width: 1300px) {
        .self-intro {
            margin-right: 1rem;
        }
    }

    @media (max-width: 800px) {
        .home-grid {
            grid-auto-flow: row;
            grid-template: 1fr/ auto;
        }

        .welcome-content-header {
            font-size: var(--xl);
            padding: 0;
        }

        .text-item {
            margin: 0;
        }

        .welcome-item {
            margin-top: 2.5rem;
            padding-left: 5rem;
            padding-right: 5rem;
        }

        .text-item {
            grid-row: 2;
            place-self: center;
        }

        .who-am-i {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-shrink: 1;
        }
    }


</style>
