---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { contentfulClient, type ImagesRO } from "../lib/contentful";

const images = await contentfulClient.getEntries<ImagesRO>({
  content_type: "spotlightImages",
});

const content = images.items[0].fields.images as Array<any>; //TODO: fix this
const heroImage = content[0].fields.file.url; // Use the first image as the hero image
---

<head>
  <link
    rel="preload"
    href="/fonts/Wotfard-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="/fonts/Fields-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="/fonts/Wubberly-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link rel="preload" href={heroImage} as="image" />
</head>

<Layout title="Brian Colclough | Photography Portfolio">
  <section
    class="relative w-full min-h-screen flex items-center bg-black text-white overflow-hidden"
  >
    <div
      class="flex flex-col md:flex-row items-center justify-between w-full max-w-7xl mx-auto px-6"
    >
      <!-- Text Block with Overlay -->
      <div class="relative md:w-1/2 text-left md:pr-6 z-20">
        <h1
          class="text-8xl sm:text-[10rem] font-fields subpixel-antialiased font-extrabold text-orange-500 leading-none tracking-tight"
        >
          Brian Colclough
        </h1>
        <p class="mt-4 text-base sm:text-lg font-fields italic text-gray-300">
          I'm a hobbyist art photographer, mainly capturing landscapes and
          moments of everyday life. As a software engineer studying AI, I blend
          technology with my passion for art. Fitness enthusiast and blogger at
          heart.
        </p>
      </div>

      <!-- Hero Image -->
      <Image
        class="relative md:w-1/2 rounded-lg shadow-lg overflow-hidden transform transition-transform"
        alt="self portrait"
        src={heroImage}
        height="800"
        width="600"
      />
      <!-- Add explicit width and height -->
      <div
        class="absolute inset-0 bg-black opacity-20 hover:opacity-10 transition-opacity duration-500"
      >
      </div>
      <!-- Dark overlay for contrast -->
    </div>
  </section>

  <section
    class="relative z-20 mt-12 px-6 w-screen max-w-none mx-auto lg:px-12 xl:px-24 columns-1 sm:columns-2 lg:columns-3 gap-6"
  >
    {
      content.splice(1).map((p, index) => (
        <div
          key={index}
          class="mb-6 break-inside-avoid group relative overflow-hidden rounded-lg shadow-lg transition-transform duration-500 hover:shadow-2xl transform hover:-translate-y-1"
        >
          <Image
            src={p.fields.file.url}
            alt={`Portfolio photo ${index + 1}`}
            class="w-full h-auto object-cover"
            width={800}
            height={800}
            format="webp"
          />
          <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-80 transition-opacity duration-500" />
        </div>
      ))
    }
  </section>
</Layout>
