<nav class="nav-bar">
    <div class="nav-bar-wrapper">
        <span class="nav-title">Brian Colclough</span>
        <ul class="nav-bar-list">
            <li class="nav-bar-item">
                <a href="/" data-astro-prefetch> Home </a>
            </li>
            <li class="nav-bar-item">
                <a href="/blog" data-astro-prefetch> Blog </a>
            </li>
        </ul>
    </div>
</nav>

<style>
    .nav-bar {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: var(--rose-500);
        overflow: visible;
    }

    .nav-bar-wrapper {
        flex-grow: 1;
        overflow: visible;
        max-width: 1280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: var(--md);
        padding-bottom: var(--md);
        padding-left: var(--md);
        padding-right: var(--md);
        color: white;
    }

    .nav-bar-list {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-weight: bold;
        list-style: none;
    }

    .nav-title {
        font-size: var(--3xl);
        font-family: Fields, serif;
    }

    .nav-bar-item > a:hover {
        color: var(--accent-dark-blue);
        text-decoration: underline var(--blue-500) wavy;
        text-underline-offset: 0.5rem;
    }

    .nav-bar-item > a {
        font-family: Fields, serif;
        font-size: var(--xl);
        text-decoration: none;
        color: var(--accent-blue);
    }

    @media (max-width: 1280px) {
        .nav-title {
            font-size: 2rem;
        }
    }
</style>
