---
type Props = {
    title: string,
    date: string,
    content: string
}

const options = { year: 'numeric', month: 'long', day: 'numeric' };

const { title, date, content } = Astro.props;

const formattedPublishedDate = new Date(date).toLocaleDateString("en-US", options as Intl.DateTimeFormatOptions);
---

<div class="max-w-4xl mx-auto mt-16 px-4 sm:px-6 lg:px-8 bg-black rounded-lg shadow-lg p-8">
    <header class="mb-12 text-center">
        <h1 class="text-6xl font-bold font-wubberly mb-4 text-orange-600">{title}</h1>
        <p class="text-neutral-400 italic text-lg">{formattedPublishedDate}</p>
    </header>

    <article class="prose prose-xl prose-invert mx-auto text-neutral-300 leading-relaxed prose-headings:font-fields prose-headings:text-orange-400 prose-headings:mt-12 prose-headings:mb-4">
        <div set:html={content} />
    </article>
</div>

<style>
    /* Add decorative dividers for sections */
    hr {
        border: none;
        border-top: 1px solid #444;
        margin: 2rem 0;
    }

    /* Optional first-letter styling for a unique touch */
    .markdown-container p:first-of-type::first-letter {
        font-size: 3rem;
        font-weight: bold;
        color: #f97316; /* Tailwind orange-500 */
        margin-right: 0.2rem;
        float: left;
    }
</style>
