---
type Props = {
    title: string,
    date: string,
    content: string
}

const options = { year: 'numeric', month: 'long', day: 'numeric' };

const {title, date, content} = Astro.props;

const formattedPublishedDate = new Date(date).toLocaleDateString("en-US", options as Intl.DateTimeFormatOptions);

---

<div class="max-w-4xl mx-auto mt-16 px-4 sm:px-6 lg:px-8 rounded-lg p-8">
    <header class="mb-10 text-center">
        <h1 class="text-6xl font-bold font-wubberly mb-6 text-orange-600">{title}</h1>
        <p class="text-gray-500 italic text-lg">{formattedPublishedDate}</p>
    </header>

    <article class="prose prose-xl mx-auto text-gray-900 leading-relaxed prose-headings:font-fields">
        <div class="markdown-container" set:html={content} />
    </article>
</div>
